{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block meta_description %}Welcome To The website Of Dr. Omar Faruk DMD Dentist To The Stars!{% endblock %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>{% block title %}Mobility Drive{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'website/img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

    <!-- Icones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Top Content -->
                    <div class="col-6 col-md-9 col-lg-8">
                        <div class="top-header-content">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title=" Dans toute la France"><i class="fa fa-map-marker"></i> <span>Dans toute la France</span></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="contact@mobilitydrive.fr"><i class="fa fa-envelope"></i> <span>contact@mobilitydrive.fr</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Header End -->

        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="dentoNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="{% url 'home' %}"><img src="{% static 'website/img/core-img/logo.png' %}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li><a href="{% url 'home' %}">Accueil</a></li>
                                    <li><a href="#about">A propos</a></li>
                                    <li><a href="#process">Nos services</a></li>
                                    <li><a href="#pricing">Prix</a></li>
                                    <li><a href="#contact">Contactez-nous</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Booking Now Button -->
                        <a href="{% url 'calcul_itineraire' %}" class="btn dento-btn booking-btn">Faire un devis</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
</body>

</html>
